
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*shared styles*/
.display-flex{
    display: flex;
}
.text-primary{
    color:#FF900E;
}

/*text color dark 02*/
.text-gray{
    color: #424242;
}

/*text color dark 03*/

.text-light-gray{
    color: #727272;
}

.bg-color-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 700;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/*header*/

/*navbar*/

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-items{
    list-style-type: none;
    margin-right: 30px;
    
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;

}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* Banner */

.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    width: 100%;
}

/* Team and Feature */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}


#quick-list{
    font-weight: 500;
}

.feature-description{
    
    margin-bottom: 33px;
}

/*responsive media query */

@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
        margin-left: 20px;
    }
}

/* Medium size device */

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .our-features{
        margin: 50px auto;
    }
}